<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css' rel='stylesheet'>
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js' rel='stylesheet'>
</head>
<body>
    <div class="d-flex justify-content-center align-items-center container">
        <div class="card py-5 px-3">
            <h5 class="m-0">URL Shortener</h5><span class="mobile-text">Enter the URL to Create a Short-Link <b class="text-danger">{{request.user.email}}</b></span>
            <div class="d-flex flex-row mt-5">
                <form  method="POST">
                    {% csrf_token %}
                    <input type="text" class="form-control" autofocus="" name="url">
                    </br>
                    <input type="submit" value="Submit" class="btn btn-danger">
                </form>
            </div>
            <br>
            
            {% if url != NULL %}
            <p class="font-weight-bold">This is the Newly Created Short-Link </p> <br>
            <p class="font-weight-bold">URL :- {{completeurl}}</p> <br>
            <p class="font-weight-bold">Short URL :- {{request.build_absolute_uri}}{{url}}</p>  <br>
              <a href="{{request.build_absolute_uri}}{{url}}" class="link-success">Click to Visit</a>  
            {% endif %}
          </div>
    </div>
</body>
</html>